<Project>
  <PropertyGroup>
    <!-- Change this to the PEAK game directory, not the mod source directory. -->
    <PeakGameRootDir>C:/Program Files (x86)/Steam/steamapps/common/PEAK/</PeakGameRootDir>
  </PropertyGroup>
</Project>
